<template>
  <div id="contact-form" class="contact-form">
    <h1 class="contact-form_title">Contact Form</h1>
    <div class="separator"></div>

    <div v-if="isSending" class="loading">Sending...</div>
    <div v-if="status" class="loading">{{ status }}</div>

    <form class="form" @submit="onSubmit">
      <input
        required
        name="name"
        v-model="contact.name"
        placeholder="Name"
        type="text"
        autocomplete="off"
      >
      <input
        required
        name="email"
        v-model="contact.email"
        placeholder="E-mail"
        type="email"
        autocomplete="off"
      >
      <textarea name="message" v-model="contact.message" rows="4" placeholder="Message"></textarea>
      <button class="button">Send</button>
    </form>
  </div>
</template>

<script>
import { sendEmail } from "../services/mailService";

export default {
  docTitle: "Contact YipZone",
  data() {
    return {
      contact: {
        name: "",
        email: "",
        message: ""
      },
      isSending: false,
      status: "",
      errors: {}
    };
  },
  methods: {
    clearForm() {
      for (let field in this.contact) {
        this.contact[field] = "";
      }
    },

    resetForm() {
      this.contact = {
        contact: {
          name: "",
          email: "",
          message: ""
        }
      };
      this.isSending = false;
    },

    onSubmit(evt) {
      evt.preventDefault();

      this.isSending = true;

      setTimeout(() => {
        try {
          sendEmail(this.contact);
          this.resetForm();
          this.status = "Thank you. Email Sent.";
        } catch (ex) {
          if (ex.response && ex.response.status === 400) {
            this.errors = ex;
          }
        }
      }, 1000);
    }
  }
};
</script>


<style scoped>
body {
  background: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

.contact-form {
  font-family: 16px;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.contact-form .separator {
  border-bottom: solid 1px #ccc;
  margin-bottom: 15px;
}

.contact-form .form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.contact-form_title {
  color: #eee;
  text-align: left;
  font-size: 28px;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
  border: solid 1px #e8e8e8;
  font-family: "Roboto", sans-serif;
  padding: 10px 7px;
  margin-bottom: 15px;
  outline: none;
}

.contact-form textarea {
  resize: none;
}

.contact-form .button {
  background: #007bff;
  border: solid 1px #007bff;
  color: white;
  cursor: pointer;
  padding: 10px 50px;
  text-align: center;
  text-transform: uppercase;
}

.contact-form .button:hover {
  background: #003cff;
  border: solid 1px #003cff;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea,
.contact-form .button {
  font-size: 15px;
  border-radius: 3px;
}
</style>
