<template>
  <section class="container">
    <h1>Honda Integra Type R - DC5</h1>

    <gallery :images="images" :index="index" @close="index = null"></gallery>
    <div
      class="image"
      v-for="(image, imageIndex) in images"
      :key="imageIndex"
      @click="index = imageIndex"
      :style="{ backgroundImage: 'url(' + image + ')', width: '300px', height: '200px' }"
    ></div>
    <div class="clear"></div>
  </section>
</template>

<script>
import VueGallery from "vue-gallery";

export default {
  docTitle: "Honda Integra Type R - DC5",
  data() {
    return {
      images: [
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1926.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1928.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1929.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1930.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1931.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1933.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1934.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1935.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1937.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1939.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1941.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1943.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1944.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1946.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1948.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1949.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1950.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1951.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1952.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1953.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1954.jpg",
        "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dc5/IMG_1955.jpg"
      ],
      index: null
    };
  },
  components: {
    gallery: VueGallery
  }
};
</script>

<style scoped>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0 solid #ebebeb;
  margin: 2px;
}
section {
  text-align: left;
}
</style> 