<template>
  <section>
    <b-jumbotron fluid class="jumbo" style="margin-bottom:0">
      <video
        id="bgvid"
        autoplay
        loop
        muted
        poster="https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/site/SnapShot.jpg"
      >
        <source
          src="https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/site/Produce_5.mp4"
          type="video/mp4"
        />
      </video>
      <div class="row">
        <!-- <div class="site-title col-12"> -->
        <div class="col-12">
          <h1>
            <span style="color:red">Y</span>
            <span style="color:orange">i</span>
            <span style="color:yellow">p</span>
            <span style="color:lime">Z</span>
            <span style="color:#0099ff">o</span>
            <span style="color:#aa33ff">n</span>
            <span style="color:violet">e</span>
          </h1>
          <!-- <img v-lazy="images[0].thumb"  class="zone-image" /> -->
          <!-- <div class="work-play" @click="openGallery(0)">
            <p id="work-play-text">Work and Play</p>
          </div>-->
          <LightBox
            :images="images"
            ref="lightbox"
            :show-caption="true"
            :show-light-box="false"
            :showThumbs="false"
          ></LightBox>

          <Weather />
        </div>
      </div>
    </b-jumbotron>
    <Circles />
  </section>
</template>

<script>
import Weather from "../components/Weather";
import Circles from "../components/Circles";
import LightBox from "vue-image-lightbox";

export default {
  name: "Home",
  data() {
    return {
      images: [
        {
          thumb:
            "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/site/yipzone-thumb.jpg",
          src:
            "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/site/yipzone-1920-1080.jpg",
          caption: "The work and play zone"
        }
      ]
    };
  },
  components: {
    Weather,
    Circles,
    LightBox
  },
  methods: {
    openGallery(index) {
      this.$refs.lightbox.showImage(index);
    }
  }
};
</script>

<style lang="scss" scoped>
section {
  text-align: center;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 3px #eee;
  font-family: "Verdana", sans-serif;
}
</style>
