<template>
  <div class="container-fluid">
    <div class="row h-100">
      <div class="col" style="max-width:600px; margin:0 auto; margin-top:20px">
        <table style="width: 100%">
          <tr>
            <td>
              <div class="col-md-1 my-auto text-right">
                <button
                  type="button"
                  class="btn btn-secondary"
                  @click="handlePrev"
                  :disabled="!buttonLeft"
                >&lt;</button>
              </div>
            </td>
            <td>
              <h3>Who's Cuter?</h3>
              <VueCompareImage :leftImage="leftImage" :rightImage="rightImage"/>
            </td>
            <td>
              <div class="col-md-1 my-auto text-left">
                <button
                  type="button"
                  class="btn btn-secondary"
                  @click="handleNext"
                  :disabled="!buttonRight"
                >&gt;</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import VueCompareImage from "vue-compare-image";

const leftImages = [
  "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/alfie/IMG_20190103_151800s.jpg",
  "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dorito/IMG_20181201_170458s.jpg"
];
const rightImages = [
  "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/dorito/IMG_20190301_154925.jpg",
  "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/alfie/IMG_20190107_183248.jpg"
];

export default {
  docTitle: "Alfie & Dorito",
  name: "Pets",
  components: {
    VueCompareImage
  },
  data() {
    return {
      imgIndex: 0,
      buttonLeft: false,
      buttonRight: true,
      leftImage: leftImages[0],
      rightImage: rightImages[0]
    };
  },
  methods: {
    handlePrev() {
      const i =
        (leftImages.indexOf(this.leftImage) - 1 + leftImages.length) %
        leftImages.length;
      this.imgIndex = i;
      if (i < leftImages.length) {
        this.buttonRight = true;
      }
      if (i > 0) {
        this.buttonLeft = true;
      } else {
        this.buttonLeft = false;
      }
      this.leftImage = leftImages[i];
      this.rightImage = rightImages[i];
    },

    handleNext() {
      const i = (leftImages.indexOf(this.leftImage) + 1) % leftImages.length;
      this.imgIndex = i;
      if (i < 2) {
        this.buttonRight = false;
      }
      if (i > 0) {
        this.buttonLeft = true;
      } else {
        this.buttonLeft = false;
      }
      this.leftImage = leftImages[i];
      this.rightImage = rightImages[i];
    }
  }
};
</script>

