<template>
  <div style="background-color:#fff">
    <section id="intro" class="intro"/>
    <div class="container tme">
      <section id="about">
        <div class="row">
          <div class="col" style="padding:20px 0 20px 0">
            <h1>Mitsubishi Lancer Evolution VI GSR Tommi Makinen Edition</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>
              In commemoration for Tommi Makinen's achievement of driver's
              champion 4 years running from 1996 to 1999, The Lancer
              Evolution Tommi Makinen Edition was sold in a limited run of
              2500 cars. The model code was GFCP9A, and is sometimes
              nicknamed the Lancer Evo 6.5.
            </p>
            <p>
              <strong>Special Coloring Package</strong>
            </p>
            <p>
              The promotional image color of the body was red, and it was
              possible to select a special color package which had a black
              stripe running from the front fenders to the body sides.
            </p>
            <a href="#gallery" class="btn btn-skin btn-lg btn-scroll">See my photos</a>
          </div>

          <div class="col-md-6">
            <img
              src="https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/site/img1.jpg"
              class="img-responsive img-circle"
              alt
            >
          </div>
        </div>
      </section>
      <section id="gallery">
        <div class="row">
          <div class="col">
            <h1>Photo Gallery</h1>
          </div>
          <div style="padding-top:10px; width:100%">
            <lingallery :items="images" :width="width"/>
          </div>
        </div>
      </section>
      <section id="tme-videos">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="wow bounceInUp" data-wow-delay="0.4s"/>
          </div>
        </div>
      </section>
      <section id="videos">
        <div class="row" style="padding-top:50px">
          <h1>Video Gallery</h1>
        </div>
        <div class="container-fluid pb-video-container" style="padding-bottom:10px">
          <div class="row pb-row">
            <template v-for="video in videos">
              <Video :key="video._id" :video="video"/>
            </template>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { getVideosInCategorySubCategory } from "../services/videoService";
import Video from "../components/Video";
import Lingallery from "lingallery";

const s3Bucket = "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/";
const imgUrl = s3Bucket + "tme_gallery/";
const thumbUrl = s3Bucket + "tme_thumbnails/";

const images = [
  {
    src: imgUrl + "1.jpg",
    thumbnail: thumbUrl + "thumb-1.jpg"
  },
  {
    src: imgUrl + "2.jpg",
    thumbnail: thumbUrl + "thumb-2.jpg"
  },
  {
    src: imgUrl + "3.jpg",
    thumbnail: thumbUrl + "thumb-3.jpg"
  },
  {
    src: imgUrl + "4.jpg",
    thumbnail: thumbUrl + "thumb-4.jpg"
  },
  {
    src: imgUrl + "5.jpg",
    thumbnail: thumbUrl + "thumb-5.jpg"
  },
  {
    src: imgUrl + "6.jpg",
    thumbnail: thumbUrl + "thumb-6.jpg"
  },
  {
    src: imgUrl + "7.jpg",
    thumbnail: thumbUrl + "thumb-7.jpg"
  },
  {
    src: imgUrl + "8.jpg",
    thumbnail: thumbUrl + "thumb-8.jpg"
  },
  {
    src: imgUrl + "9.jpg",
    thumbnail: thumbUrl + "thumb-9.jpg"
  },
  {
    src: imgUrl + "10.jpg",
    thumbnail: thumbUrl + "thumb-10.jpg"
  },
  {
    src: imgUrl + "11.jpg",
    thumbnail: thumbUrl + "thumb-11.jpg"
  },
  {
    src: imgUrl + "12.jpg",
    thumbnail: thumbUrl + "thumb-12.jpg"
  }
];

export default {
  title: "Mitsubishi Lancer Evo 6 TME",
  data() {
    return {
      width: 1280,
      images: images,
      videos: null
    };
  },
  mounted() {
    this.getVideos();
  },
  methods: {
    getVideos() {
      getVideosInCategorySubCategory("cars", "tme").then(response => {
        this.videos = response;
      });
    }
  },
  components: {
    Lingallery,
    Video
  }
};
</script>

<style scoped src="../css/tme.css">
</style>

