<template>
  <section>
    <div class="container-fluid pb-video-container">
      <h1>{{ videoTitle }}</h1>
      <div class="col">
        <div class="row pb-row">
          <template v-for="video in videos">
            <Video :key="video._id" :video="video"/>
          </template>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {
  getVideosInCategory,
  getVideosInCategorySubCategory,
  getVideoTitle
} from "../services/videoService";
import Video from "../components/Video";

export default {
  docTitle: "Videos",
  data() {
    return {
      videos: null,
      videoTitle: ""
    };
  },
  props: {
    cat: String,
    subcat: String,
    title: String
  },
  mounted() {
    this.getVideos();
    this.videoTitle = getVideoTitle(this.cat, this.subcat);
  },
  watch: {
    $route() {
      this.getVideos();
      this.videoTitle = getVideoTitle(this.cat, this.subcat);
    }
  },
  methods: {
    getVideos() {
      if (this.subcat) {
        getVideosInCategorySubCategory(this.cat, this.subcat).then(response => {
          this.videos = response;
        });
      } else {
        getVideosInCategory(this.cat).then(response => {
          this.videos = response;
        });
      }
    }
  },
  components: {
    Video
  }
};
</script>

<style scoped>
div h1 {
  text-align: left;
  padding-bottom: 10px;
}
</style>
