<template>
  <div class="col-sm-3 col-xs-12">
    <div class="item">
      <!-- <a :href="circle.link" class="circle-title" :alt="circle.title">{{ circle.title }}</a> -->
      <a :href="circle.link">
        <span class="circle-title" :alt="circle.title">{{ circle.title }}</span>
        <img :src="circle.image" class="circle-img rounded-circle center" :alt="circle.title">
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "CircleLink",
  props: {
    circle: Object
  }
};
</script>

<style scoped>
.circle-img {
  margin: auto;
}

.item {
  opacity: 0.7;
}

.item:hover {
  opacity: 1;
}

.item :hover .circle-title {
  color: yellow;
  opacity: 1;
}
</style>


