<template>
  <div class="row">
    <template v-for="circle in circles">
      <CircleLink :key="circle.id" :circle="circle"/>
    </template>
  </div>
</template>

<script>
import CircleLink from "./CircleLink";

const imgUrl = "https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/site/";

export default {
  name: "Circles",
  props: {
    circle: []
  },
  components: {
    CircleLink
  },
  data() {
    return {
      circles: [
        {
          id: 1,
          title: "Evo 6 TME",
          link: "/tme",
          image: imgUrl + "img2.jpg"
        },
        {
          id: 2,
          title: "Life in General",
          link: "/life",
          image: imgUrl + "other3.jpg"
        },
        {
          id: 3,
          title: "Modding",
          link: "/mods",
          image: imgUrl + "sim2.jpg"
        },
        {
          id: 4,
          title: "Gaming",
          link: "/gaming",
          image: imgUrl + "game3.jpg"
        }
      ]
    };
  }
};
</script>

