<template>
  <header>
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-navbar-brand>
        <router-link to="/">YipZone</router-link>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item-dropdown id="my-nav-dropdown" text="Cars" toggle-class="nav-link-custom">
            <b-dropdown-item to="/tme">Mitsubishi Lancer Evolution VI GSR TME</b-dropdown-item>
            <b-dropdown-item to="/dc5">Honda Integra Type R (DC5)</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown
            id="my-nav-dropdown"
            text="Life in General"
            toggle-class="nav-link-custom"
          >
            <b-dropdown-item to="/life/australia">Australia</b-dropdown-item>
            <b-dropdown-item to="/life/world">World</b-dropdown-item>
            <b-dropdown-item to="/life/tanks">Tanks</b-dropdown-item>
            <b-dropdown-item to="/life/3d">3D Printing</b-dropdown-item>
            <b-dropdown-item to="/life/reviews">Reviews</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown id="my-nav-dropdown" text="Modding" toggle-class="nav-link-custom">
            <b-dropdown-item to="/mods/general">General</b-dropdown-item>
            <b-dropdown-item to="/mods/wheel">Wheel</b-dropdown-item>
            <b-dropdown-item to="/mods/shifter">Shifter</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown id="my-nav-dropdown" text="Gaming" toggle-class="nav-link-custom">
            <b-dropdown-item to="/gaming/assetto-corsa">Assetto Corsa</b-dropdown-item>
            <b-dropdown-item to="/gaming/dirt">Dirt</b-dropdown-item>
            <b-dropdown-item to="/gaming/project-cars">Project CARS</b-dropdown-item>
            <b-dropdown-item to="/gaming/rbr">RBR</b-dropdown-item>
            <b-dropdown-item to="/gaming/rfactor">rFactor</b-dropdown-item>
            <b-dropdown-item to="/gaming/wrc">WRC</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item to="/pets">Alfie & Dorito</b-nav-item>
          <b-nav-item to="/contact">Contact</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item right v-if="tokenName" to="/video-list">Video List</b-nav-item>
          <b-nav-item right>
            <a v-if="tokenName" @click="logout">Logout</a>
            <router-link v-else to="/login">Login</router-link>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </header>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Header",
  methods: {
    logout: function() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/");
      });
    }
  },
  computed: {
    ...mapGetters(["tokenName"])
  }
};
</script>

<style scoped>
.bg-dark {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.6)
  ) !important;
}

.navbar-brand a,
.nav-link a {
  color: rgba(255, 255, 255, 0.5) !important;
  text-decoration: none;
}

.navbar-brand a:hover,
.nav-item a:hover {
  color: #fff !important;
}
</style>

