<template>
  <div class="col-sm-4 col-lg-3 col-xl-2 pb-video">
    <silentbox-single :src="videoUrl()" :description="video.title">
      <img :src="videoImage()" width="100%">
    </silentbox-single>
    <VideoTitle :video="video"/>
  </div>
</template>

<script>
import Vue from "vue";
import VueSilentbox from "vue-silentbox";
import VideoTitle from "../components/VideoTitle";
Vue.use(VueSilentbox);

export default {
  name: "Video",
  props: {
    video: Object
  },
  methods: {
    videoUrl() {
      return `https://www.youtube.com/watch?v=${this.video.videoId}`;
    },
    videoImage() {
      return `https://i.ytimg.com/vi/${this.video.videoId}/hqdefault.jpg`;
    }
  },
  components: {
    VideoTitle
  }
};
</script>

<style scoped>
</style>
