<template>
  <div>
    <div v-if="tokenName">
      <textarea
        name="title"
        class="form-control label-warning text-xs-center"
        v-model="form.title"
      />
      <button
        class="btn btn-secondary btn-sm"
        style="margin: 4px 4px 0 0"
        @click="updateTitle()"
      >Save</button>
      <button class="btn btn-secondary btn-sm" style="marginTop: 4px" @click="resetTitle()">Cancel</button>
    </div>
    <textarea
      v-else
      name="title"
      class="form-control label-warning text-xs-center"
      disabled
      v-model="form.title"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { saveVideo } from "../services/videoService";

export default {
  data() {
    return {
      form: {
        _id: "",
        videoId: "",
        title: "",
        category: "",
        subcategory: "",
        sortOrder: ""
      }
    };
  },
  props: {
    video: Object
  },
  computed: {
    ...mapGetters(["tokenName"])
  },
  mounted() {
    this.populateVideo();
  },
  methods: {
    populateVideo() {
      this.form._id = this.video._id;
      this.form.videoId = this.video.videoId;
      this.form.title = this.video.title;
      this.form.category = this.video.category;
      this.form.subcategory = this.video.subcategory;
      this.form.sortOrder = this.video.sortOrder;
    },
    updateTitle() {
      saveVideo(this.form);
    },
    resetTitle() {
      this.form.title = this.video.title;
    }
  }
};
</script>

<style scoped>
textarea,
label {
  height: 64px;
  font-size: 13px;
}
</style>
