<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="weather col-12">
          <p class="text-center">
            <span class="city">{{ city }}, {{ setTime() }}</span>
            <span class="weather-value">{{ temp }}&deg;C</span>
            <span class="icon">
              <img v-bind:src="'https://openweathermap.org/img/w/' + icon + '.png'">
            </span>
            <span class="humidity">Humidity {{ humidity }}%</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Weather",
  data() {
    return {
      city: null,
      temp: 0,
      humidity: 0,
      time: new Date(),
      icon: "01d"
    };
  },
  mounted() {
    this.getWeather();
  },
  methods: {
    setTime: function() {
      var timeAtLoad = this.time;
      return timeAtLoad.toLocaleTimeString([], {
        timeZone: "Australia/Melbourne",
        hour: "2-digit",
        minute: "2-digit",
        hour12: true
      });
    },

    getWeather: async function() {
      const api_call = await fetch(
        "https://api.openweathermap.org/data/2.5/weather?q=melbourne,au&appid=2e72e37e5af44e163d2b33dad5ffdb14"
      );
      const response = await api_call.json();
      this.temp = response.main.temp
        ? (response.main.temp - 273).toFixed(1)
        : "N/A";
      this.humidity = response.main.humidity;
      this.city = response.name;
      this.icon = response.weather[0].icon;
    }
  }
};
</script>

<style lang="scss" scoped>
body {
  padding: 2rem 0;
}

h1 {
  font-size: 2rem;
}

.temp-format {
  float: right;
  margin-bottom: 1rem;

  button {
    width: auto;
  }
}

.weather span {
  margin: 0 5px 0 5px;
}

.icon {
  font-size: 1rem;
  margin-bottom: 1rem;
}
</style>
