<template>
  <div class="container">
    <b-card class="mt-3" header="Video Form" style="color:#333">
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="input-group-1" label="Video ID" label-for="input-1">
          <b-form-input id="input-1" v-model="form.videoId" required placeholder="Video ID"></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Title:" label-for="input-2">
          <b-form-input id="input-2" v-model="form.title" required placeholder="Title"></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Category:" label-for="input-3">
          <b-form-select id="input-3" v-model="form.category" :options="categories" category></b-form-select>
        </b-form-group>

        <b-form-group id="input-group-4" label="Sub Category:" label-for="input-4">
          <b-form-input id="input-4" v-model="form.subcategory" required></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-5" label="Sort Order:" label-for="input-5">
          <b-form-input id="input-5" v-model="form.sortOrder" required placeholder="Default is 100"></b-form-input>
        </b-form-group>

        <b-form-input id="input-5" v-model="form._id" class="invisible"></b-form-input>

        <b-button type="submit" variant="primary" class="m-2">Submit</b-button>
        <b-button type="reset" variant="secondary">Reset</b-button>
        <b-button
          type="button"
          @click="deleteVideo()"
          variant="danger"
          class="m-2 float-right"
        >Delete</b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import { getVideo, saveVideo, deleteVideo } from "../../services/videoService";
import router from "../../router";

export default {
  data() {
    return {
      video: null,
      form: {
        _id: "",
        videoId: "",
        title: "",
        category: "",
        subcategory: "",
        sortOrder: ""
      },
      categories: ["life", "gaming", "mods", "pets"],
      show: true
    };
  },
  props: {
    videoId: String
  },
  created() {
    if (this.videoId !== "new") {
      this.populateVideo();
    }
  },
  methods: {
    populateVideo() {
      getVideo(this.videoId).then(response => {
        this.video = response;
        (this.form._id = this.video._id),
          (this.form.videoId = this.video.videoId),
          (this.form.title = this.video.title),
          (this.form.category = this.video.category),
          (this.form.subcategory = this.video.subcategory),
          (this.form.sortOrder = this.video.sortOrder);
      });
    },
    onSubmit(evt) {
      evt.preventDefault();
      saveVideo(this.form).then(router.push("/video-list"));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      (this.form.videoId = this.video.videoId),
        (this.form.title = this.video.title),
        (this.form.category = this.video.category),
        (this.form.subcategory = this.video.subcategory),
        (this.form.sortOrder = this.video.sortOrder);
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    deleteVideo() {
      deleteVideo(this.video._id).then(router.push("/video-list"));
    }
  }
};
</script>

<style scoped>
.card-header div {
  color: #333;
  font-weight: bold;
}

form {
  text-align: left;
}
</style>
