body h1,
h2,
h3,
h4 {
  color: #ffffff;
}

/* html {
  height: 100%;
} */

body {
  /* display: flex; */
  /* flex-direction: column; */
  background-color: #222222;
  color: #ffffff;
  /* height: 100vh; */
}

/* .site-title h1 {
  font-size: 80px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 2px #333;
  font-family: "Montserrat", sans-serif;
} */

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/site/SnapShot.jpg)
    no-repeat;
  background-size: cover;
}

.circle-img {
  display: block;
  max-width: 90%;
  height: auto;
}

.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}

.circle-title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(325deg);
  text-align: left;
  color: #ffffff;
  text-shadow: -1px 1px 0 black;
  font-size: 30px;
}

.shadowed-text {
  text-shadow: -1px 1px 0 black;
  font-size: 18px;
}

/* .content {
  flex: 1 0 auto;
} */

footer {
  /* flex-shrink: 0; */
  text-align: right;
  padding: 20px;
  color: #ccc;
}

.clear {
  clear: both;
}

.jumbo {
  background:
  /* top, transparent black, faked with gradient */ linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
}

.work-play {
  background-image: url("https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/site/yipzone-thumb.jpg");
  width: 311px;
  height: 136px;
  margin: auto;
  border-radius: 10px;
  opacity: 0.7;
  cursor: pointer;
  box-sizing: border-box;
}

.work-play:hover {
  opacity: 1;
}

#work-play-text {
  position: relative;
  top: 50px;
  width: 311px;
  font-size: 28px;
}

.work-play:hover #work-play-text {
  color: yellow;
}
