body .tme h1,
p {
  color: #333 !important;
}

.tme {
  text-align: left;
}

.tme .btn-skin {
  color: #fff;
  background-color: #ff4444;
  border-color: #ff4444;
}

.tme .navbar {
  float: none;
  display: inline-block;
  text-align: center;
}

.tme .navbar ul.nav li a {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}

.tme .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.tme .nav > li > a:hover {
  color: #ff4444 !important;
  text-decoration: none;
}

.tme .img-circle {
  border-radius: 50%;
}

.tme .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ===========================
--- Intro
============================ */

.intro {
  width: 100%;
  position: relative;
  background: url(https://s3-ap-southeast-2.amazonaws.com/yipzone-com-m1/site/bg1.jpg)
    no-repeat center;
  background-size: cover;
  height: 550px;
}

#intro.intro {
  padding: 200px 0 150px 0;
}

.intro .slogan {
  text-align: center;
}

.intro .page-scroll {
  text-align: center;
}

.intro .page-scroll a {
  color: #fff;
}

.brand-heading {
  font-size: 40px;
}

.intro-text {
  font-size: 18px;
}

.intro .slogan h2 {
  color: #fff;
  text-shadow: none;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  border-width: 0px;
  border-color: #000;
  border-style: none;
  text-shadow: -1px 0 1px #000;
}

.intro .slogan h4 {
  color: #fff;
  text-shadow: -1px 1px 1px #000;
}
