.pb-video-container {
  padding-top: 20px;
  background: #222222;
}

.pb-video {
  border: 1px solid #222222;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.pb-video:hover {
  background: #555555;
}

.pb-video-frame {
  transition: width 0.5s, height 0.5s;
}

.pb-video-frame:hover {
  height: 230px;
}

.pb-row {
  margin-bottom: 10px;
}

.tme .pb-video-container {
  padding-top: 20px;
  background: #fff;
}

.tme .pb-video {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 6px;
  /* margin: 1px; */
}

.tme .pb-video:hover {
  background: rgb(221, 4, 4);
}
